body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #4cae4c;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input-container input {
    padding: 10px;
    font-size: 16px;
}

#addQuoteButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

#addQuoteButton:hover {
    background: #4cae4c;
}

.quotes-container {
    margin-top: 20px;
}

.quote {
    background: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #5cb85c;
    position: relative;
}

.quote p {
    margin: 10px;
}

.quote button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #d9534f;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.quote button:hover {
    background: #c9302c;
}
